[tool.poetry]
name = "django-pint-field"
version = "0.2.3"
description = "Pint Fields for Django and Postgres"
authors = ["Jack Linke <jack@watervize.com>"]
license = "MIT"
readme = "README.md"
packages = [{include = "django_pint_field"}]

homepage = "https://github.com/jacklinke/django-pint-field"
repository = "https://github.com/jacklinke/django-pint-field"
keywords = ["django",]
classifiers = [
    "Development Status :: 3 - Alpha",
    "Environment :: Web Environment",
    "Framework :: Django",
    "Framework :: Django :: 3.2",
    "Framework :: Django :: 4",
    "Framework :: Django :: 4.0",
    "Framework :: Django :: 4.1",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3 :: Only",
]

[tool.poetry.dependencies]
python = "^3.9"
django = "^4.1.4"
pint = "^0.20.1"
pydantic = "^1.10.4"
psycopg2-binary = "^2.9.5"
django-extensions = "^3.2.1"
werkzeug = "^2.2.2"
pytest = "^7.2.0"
django-cachalot = "^2.5.2"
django-redis = "^5.2.0"
redis = { version = "^4.4", extras = ["hiredis"] }

[tool.poetry.group.dev.dependencies]
black = {version = "^23.1a1", allow-prereleases = true}

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

