# Documentation dependencies
Sphinx>=7.4.7
sphinx-rtd-theme==2.0.0
sphinx-click==6.0.0
myst-parser==4.0
furo==2024.8.6
linkify-it-py==2.0.3

# Development dependencies
# django-extensions==3.2.3
# django-cachalot==2.7
# djangorestframework==3.15.2
